{% load widget_tweaks %}
{% load static %}
<section class="mx-auto max-w-xl">
  <form method="post" class="flex flex-col items-center justify-center font-['Wotfard'] text-white" autocomplete="off">
      {% csrf_token %}
      <div class="space-y-3 px-6 w-full">
        <p class="text-white font-medium text-[1.75rem] md:text-[2.5rem] text-center">Get In Touch</p>
        <div class="flex flex-col md:flex-row space-y-3 md:space-x-3 md:space-y-0">
          {% render_field form.user_name placeholder="Name" type="text" class="border-transparent focus:border-transparent focus:ring-0 rounded-xl bg-gray-bg placeholder-gray-text-light font-medium text-lg md:w-1/2" %}
          {% render_field form.user_email placeholder="Email" type="email" class="border-transparent focus:border-transparent focus:ring-0 rounded-xl bg-gray-bg placeholder-gray-text-light font-medium text-lg md:w-1/2" %}
        </div>
        {% render_field form.user_subject placeholder="Subject" type="text" class="border-transparent focus:border-transparent focus:ring-0 rounded-xl bg-gray-bg placeholder-gray-text-light font-medium text-lg w-full" %}
        {% render_field form.user_message placeholder="Message" type="text" class="w-full border-transparent focus:border-transparent focus:ring-0 rounded-xl bg-gray-bg placeholder-gray-text-light font-medium text-lg" %}
        <button type="submit" class="block w-full py-2 bg-custom-purple rounded-xl font-medium text-xl hover:bg-gray-text-light transition-colors duration-700">Send</button>
      </div>
  </form>
</section>
