{% load static %}
<footer class="mx-auto  w-screen max-w-6xl space-y-6 px-6 pb-8">
  <div class="grid grid-cols-1 opacity-0 blur-sm transition duration-700"
       x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
       x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <div class="border-gray-border col-span-full flex flex-col items-center justify-between space-y-5 rounded-t-3xl border p-6 md:p-10 lg:flex-row lg:space-y-0">
      <div class="flex flex-col items-center justify-center lg:flex-row lg:space-x-10">
        <img src="{% static 'assets/e-mail_color.svg' %}"
             alt="email"
             class="h-12 w-12 md:h-14 md:w-14" />
        <p class="text-center font-['Wotfard'] text-[1.75rem] font-medium text-white md:text-[2.5rem]">Collab and conquer!</p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <a href="mailto:ttson.cs@gmail.com"
           target="_blank"
           rel="noopener noreferrer"
           class="bg-custom-purple hover:bg-gray-text-light transform rounded-full px-8 py-2 font-['Wotfard'] text-2xl font-medium text-white transition-colors duration-700 md:py-4 md:text-[1.75rem]">ttson.cs@gmail.com</a>
      </div>
    </div>
    <p class="border-gray-border bg-gray-bg text-gray-text-light col-span-full rounded-b-3xl border-b border-l border-r p-[0.375rem] text-center font-['Wotfard'] text-xs md:font-medium md:uppercase">
      Promise you that I’ll reply back within 24 hours.
    </p>
    {% comment %}
    <div class="border-gray-border bg-gray-bg col-span-full flex h-7 w-full justify-center rounded-b-3xl border-b border-l border-r">
      <span class="animate-background-shine text-gray-text-light inline-flex bg-[linear-gradient(110deg,#939393,45%,#1e293b,55%,#939393)] bg-[length:250%_100%] bg-clip-text p-[0.375rem] text-center font-['Wotfard'] text-xs text-transparent md:font-medium md:uppercase">Promise you that I’ll reply back within 24 hours.</span>
    </div>
    {% endcomment %}
  </div>
  <div class="flex flex-col items-center justify-between gap-3 md:flex-row md:gap-0">
    <p class="text-gray-text text-center font-['Wotfard'] text-sm opacity-0 blur-sm transition duration-700"
       x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
       x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
      © 2023 Trinh The Son. All rights reserved.
    </p>
    <a href=""
       class="animate-background-shine border-gray-border text-gray-text group flex items-center justify-center space-x-1 rounded-full border bg-[linear-gradient(110deg,#0b0c0c,45%,#1e2631,55%,#0b0c0c)] bg-[length:200%_100%] px-6 py-3 opacity-0 blur-sm transition duration-700"
       x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
       x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
      <img src="{% static 'assets/cup_with_straw_color.svg' %}"
           alt="cup with straw"
           class="h-5 w-5" />
      <p class="text-gray-text font-['Wotfard'] text-sm font-medium transition-colors duration-500 group-hover:text-white">
        Support Me
      </p>
    </a>
  </div>
</footer>
