{% load static %}
<footer class="mx-auto w-screen max-w-6xl space-y-6 px-6 pb-8" x-data="{year: new Date().getFullYear(), day: new Date().getDay(), weekday: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']}">
  <div class="flex flex-col items-center justify-between gap-5 md:flex-row md:gap-0">
    <div class="flex flex-col items-center md:items-start opacity-0 blur-sm transition duration-700" x-intersect.half="$el.classList.add('opacity-100', '!blur-none')">
      <div><span class="text-gray-text text-center font-['Wotfard'] text-sm">©&nbsp;</span><span class="text-gray-text text-center font-['Wotfard'] text-sm" x-text="year"></span><span class="text-gray-text text-center font-['Wotfard'] text-sm">&nbsp;Trinh The Son. All rights reserved.</span></div>
      <div><span class="text-gray-text text-center font-['Wotfard'] text-sm">Enjoy the rest of your&nbsp;</span><span class="text-gray-text text-center font-['Wotfard'] text-sm" x-text="weekday[day]"></span><span class="text-gray-text text-center font-['Wotfard'] text-sm">!</span></div>
    </div>
    <a href="https://me.momo.vn/OeInTJs4uMiDfntBUVUPtQ" target="_blank" rel="noopener noreferrer" class="animate-background-shine border-gray-border text-gray-text group flex items-center justify-center space-x-1 rounded-full border bg-[linear-gradient(110deg,#0a0a0b,45%,#1e2631,55%,#0a0a0b)] bg-[length:200%_100%] px-6 py-3 opacity-0 blur-sm transition duration-700" x-intersect.half="$el.classList.add('opacity-100', '!blur-none')">
      <img src="{% static 'assets/money-mouth_face_color.svg' %}" alt="money mouth face" class="h-5 w-5" />
      <p class="text-gray-text font-['Wotfard'] text-sm font-medium transition-colors duration-500 group-hover:text-white">Support Me</p>
    </a>
  </div>
</footer>
