{% load static %}
<footer class="w-screen max-w-6xl px-6 pb-8 mx-auto space-y-6">
  <div class="flex flex-col items-center justify-between gap-3 md:flex-row md:gap-0">
    <p class="text-gray-text text-center font-['Wotfard'] text-sm opacity-0 blur-sm transition duration-700"
       x-intersect.half="$el.classList.add('opacity-100', '!blur-none')">© 2023 Trinh The Son. All rights reserved.</p>
    <a href="https://me.momo.vn/OeInTJs4uMiDfntBUVUPtQ"
       class="animate-background-shine border-gray-border text-gray-text group flex items-center justify-center space-x-1 rounded-full border bg-[linear-gradient(110deg,#0a0a0b,45%,#1e2631,55%,#0a0a0b)] bg-[length:200%_100%] px-6 py-3 opacity-0 blur-sm transition duration-700"
       x-intersect.half="$el.classList.add('opacity-100', '!blur-none')">
      <img src="{% static 'assets/money-mouth_face_color.svg' %}"
           alt="money mouth face"
           class="w-5 h-5" />
      <p class="text-gray-text font-['Wotfard'] text-sm font-medium transition-colors duration-500 group-hover:text-white">
        Support Me
      </p>
    </a>
  </div>
</footer>
