{% load static %}
<section class="mx-auto max-w-5xl space-y-5 px-6">
  <div class="grid gap-5 opacity-0 blur-sm transition duration-700 lg:grid-cols-2" x-intersect="$el.classList.add('opacity-100', '!blur-none')">
    <div class="bg-gray-bg border-t-gray-border space-y-3 rounded-2xl border-t p-3 opacity-0 transition-opacity duration-700 max-w-lg mx-auto" x-intersect.half="$el.classList.add('opacity-100')">
      <a href="https://github.com/ttsoncs/Django-Portfolio-2023" target="_blank" rel="noopener noreferrer" class="flex items-center justify-between px-2">
        <div class="flex flex-col">
          <span class="font-['Wotfard'] font-medium text-white md:text-xl">Personal Portfolio</span>
          <span class="text-gray-text-light font-['Wotfard'] text-xs md:text-sm">Build with Django, Alpine.js, Tailwind, SQLite3</span>
        </div>
        <img src="{% static "assets/arrow-up.svg" %}" alt="arrow" class="w-5 h-5 md:w-6 md:h-6">
      </a>
      <div class="flex aspect-[4/3] w-full items-end justify-center rounded-xl bg-[#B993D6]"><img src="{% static "images/project1.webp" %}" alt="portfolio project" class="w-11/12 rounded-t-lg"></div>
    </div>
  </div>
</section>
