{% load static %}
<section class="max-w-5xl px-6 mx-auto space-y-5">
  {% for project in project_list %}
  <div class="grid gap-5 lg:grid-cols-2">
    <div class="max-w-lg p-3 mx-auto space-y-3 transition-opacity duration-700 border-t opacity-0 bg-gray-bg border-t-gray-border rounded-2xl" x-intersect.half="$el.classList.add('opacity-100')">
      <div class="flex items-center justify-between px-2">
        <div class="flex flex-col">
          <span class="font-['Wotfard'] font-medium text-white text-lg md:text-xl">{{project.title}}</span>
          <span class="text-gray-text-light font-['Wotfard'] text-sm md:text-base">{{project.tech}}</span>
        </div>
        <a href="https://github.com/ttsoncs/Django-Portfolio-2023" target="_blank" rel="noopener noreferrer"> <img src="{% static "images/arrow-up.svg" %}" alt="arrow" class="w-5 h-5 md:w-6 md:h-6"> </a>
      </div>
      <div class="flex aspect-[4/3] w-full items-end justify-center rounded-xl bg-[#B993D6]"><img src="{{project.cover.url}}" alt="portfolio cover" class="w-11/12 rounded-t-lg" /></div>
    </div>
  </div>
  {% endfor %}
</section>
