{% load static %}
<section class="container mx-auto grid max-w-6xl grid-cols-1 gap-3 px-6 md:grid-cols-2 md:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2">
  {% comment %} container 1 {% endcomment %}
  <div class="md:h-[732px] px-4 pb-4 md:p-0 md:row-span-2 lg:row-span-2">
    <div class="flex h-full w-full flex-col justify-center">
      <div class="bg-gray-bg rounded-3xl p-4 pt-10 relative flex flex-col items-center border-t border-gray-border max-w-xs mx-auto transition duration-1000 -translate-y-3/4" x-intersect.half="$el.classList.add('!-translate-y-0')">
        {% comment %} title {% endcomment %}
        <div class="absolute -top-[93.5%] z-10 h-full w-12 bg-gradient-to-t from-pink-500 via-red-500 to-yellow-500"></div>
        <div class="to-custom-black absolute top-[5%] h-2 w-16 rounded-full bg-gradient-to-t from-[#434343]"></div>
        <div class="w-full p-3">
          <div class="relative flex w-full">
            <span class="relative z-10 bg-gray-bg whitespace-normal pr-2 font-['Wotfard'] text-3xl font-medium text-white">Trinh The</span>
            <div class="absolute top-1/2 h-px w-full bg-white"></div>
          </div>
          <p class="font-['Wotfard'] text-3xl font-medium text-white">Son</p>
          <p class="text-gray-text-light font-['Wotfard'] text-lg">Web Developer</p>
        </div>
        {% comment %} image {% endcomment %}
        <div class="relative">
          <img src="{% static 'images/avatar.webp' %}" alt="avatar" class="bg-gray-bg-hover w-full rounded-2xl" />
          <p class="text-gray-text-light absolute bottom-8 right-4 -rotate-[25deg] font-['Balleny'] text-5xl">Son</p>
        </div>
      </div>
    </div>
  </div>
  {% comment %} container 2 {% endcomment %}
  <div class="!bg-gray-bg border-gray-border h-[270px] rounded-3xl border-t p-6 md:h-[360px] lg:p-8 opacity-0 transition-opacity duration-700" x-intersect.half="$el.classList.add('opacity-100')" style="background: url('{% static "assets/blob.svg" %}'); background-size: cover; background-position: center;">
    <div class="flex h-full w-full flex-col justify-between">
      <div class="relative flex flex-col justify-between h-full space-y-5 md:space-y-10">
        {% comment %} text {% endcomment %}
        <div class="relative max-w-md">
          <img src="{% static "assets/quotes-left.svg" %}" alt="quotes left" class="absolute top-0 left-0 w-6 h-6">
          <div>
            <span class="leading-tight animate-text font-['Wotfard'] md:text-[1.75rem] font-medium text-white text-2xl">&emsp;&nbsp;<span class="inline md:hidden">&nbsp;</span>Hello! I'm Son, a 4th-year Computer Science major.</span>
            <span class="leading-tight animate-text font-['Wotfard'] md:text-[1.75rem] font-medium text-gray-text text-2xl">Full-stack development is my focus.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} container 3 {% endcomment %}
  <div class="h-[360px] grid grid-cols-2 gap-3">
    <div class="bg-gray-bg h-[128px] rounded-3xl p-6 col-span-2 border-t border-gray-border opacity-0 transition-opacity duration-700" x-intersect.half="$el.classList.add('opacity-100')">
      <div class="flex items-center justify-between w-full h-full">
        <div>
          <p class="text-gray-text-light font-['Wotfard'] text-2xl font-medium md:text-[1.75rem]">Title</p>
          <p class="animate-text font-['Wotfard'] text-2xl font-medium text-white md:text-[1.75rem]">Web Developer</p>
        </div>
        <img src="{% static "assets/Fire.png" %}" alt="Fire" class="w-10 h-10 md:h-12 md:w-12" />
      </div>
    </div>
    <a href="" target="_blank" rel="noopener noreferrer" class="bg-gray-bg rounded-3xl p-6 h-[80px] lg:p-8 col-span-1 border-t border-gray-border transition hover:bg-gray-bg-hover opacity-0 duration-700" x-intersect.half="$el.classList.add('opacity-100')">
      <div class="flex h-full w-full flex-col justify-center items-center">
      {% comment %} linkedin {% endcomment %}
        <h1 class="bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text font-['Wotfard'] text-2xl font-medium text-transparent md:text-[1.75rem]">LinkedIn</h1>
      {% comment %} link {% endcomment %}
      </div>
    </a>
    <a href="https://github.com/ttsoncs/" target="_blank" rel="noopener noreferrer" class="bg-gray-bg rounded-3xl p-6 h-[80px] lg:p-8 col-span-1 border-t border-gray-border transition hover:bg-gray-bg-hover opacity-0 duration-700" x-intersect.half="$el.classList.add('opacity-100')">
      <div class="flex h-full w-full flex-col justify-center items-center">
      {% comment %} linkedin {% endcomment %}
        <h1 class="bg-gradient-to-r from-amber-200 to-yellow-500 bg-clip-text font-['Wotfard'] text-2xl font-medium text-transparent md:text-[1.75rem]">GitHub</h1>
      {% comment %} link {% endcomment %}
      </div>
    </a>
    <div class="relative z-10 overflow-hidden bg-gray-bg h-[128px] rounded-3xl p-6 col-span-2 border-t border-gray-border opacity-0 transition-opacity duration-700" x-intersect.half="$el.classList.add('opacity-100')">
      <div class="flex items-center justify-between w-full h-full overflow-hidden">
        <div>
          <p class="text-gray-text-light font-['Wotfard'] text-2xl font-medium md:text-[1.75rem]">Based In</p>
          <p class="animate-text font-['Wotfard'] text-2xl font-medium text-white md:text-[1.75rem]">Vietnam. GMT+7</p>
        </div>
        {% include "partials/cobe.html" %}
      </div>
    </div>
  </div>
  {% comment %} container 4 {% endcomment %}
  <div class="bg-gray-bg h-[270px] rounded-3xl p-6 md:h-[360px] lg:p-8 border-t border-gray-border opacity-0 transition-opacity duration-700 md:col-start-2 md:row-start-2" x-intersect.half="$el.classList.add('opacity-100')" style="background: url('{% static "assets/surf_pattern.svg" %}'); background-size: cover; background-position: center;">
    <div class="flex h-full w-full flex-col justify-between">
      <div class="flex flex-col justify-between h-full space-y-5 md:space-y-10">
        {% comment %} spotify {% endcomment %}
        <img src="{% static "assets/spotify-icon.svg" %}" alt="" class="md:h-14 md:w-14 h-12 w-12">
        <div class="flex flex-col h-[5.75rem] justify-between">
          <p class="text-[#1db954] font-['Wotfard'] text-xl">Pause</p>
          <div class="flex items-center justify-between">
            <div>
              <a target="_blank" rel="noopener noreferrer" href="" class="font-['Wotfard'] text-2xl font-semibold md:text-[1.75rem] text-white">Remember This</a>
              <p class="animate-text font-['Wotfard'] text-xl font-medium text-gray-text">NF</p>
            </div>
            <img src="{% static "assets/heart.svg"%}" alt="heart" class="w-8 h-8">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
