{% load static %}
{% block signature %}
  <link href="https://fonts.cdnfonts.com/css/balleny" rel="stylesheet">                
{% endblock signature %}
<section class="container grid max-w-6xl grid-cols-1 gap-3 px-6 mx-auto md:grid-cols-2 md:grid-rows-3 lg:grid-cols-3 lg:grid-rows-2">
  {% comment %} container 1 {% endcomment %}
  <div class="md:h-[732px] px-4 pb-4 md:p-0 md:row-span-2 lg:row-span-2">
    <div class="flex flex-col justify-center w-full h-full">
      <div class="bg-gray-bg rounded-3xl p-4 pt-10 relative flex flex-col items-center border-t border-gray-border max-w-xs mx-auto transition duration-[2s] -translate-y-3/4" x-intersect.half="$el.classList.add('!-translate-y-0')">
        {% comment %} title {% endcomment %}
        <div class="absolute -top-[93.5%] z-10 h-full w-12 bg-gradient-to-t from-pink-500 via-red-500 to-yellow-500"></div>
        <div class="to-custom-black absolute top-[5%] h-2 w-16 rounded-full bg-gradient-to-t from-[#434343]"></div>
        <div class="w-full p-2 pb-4">
          <div class="relative flex w-full">
            <span class="relative z-10 bg-gray-bg whitespace-normal pr-2 font-['Wotfard'] text-3xl font-medium text-white">Trinh The</span>
            <div class="absolute w-full h-px bg-white top-1/2"></div>
          </div>
          <p class="font-['Wotfard'] text-3xl font-medium text-white">Son</p>
          <p class="text-gray-text-light font-['Wotfard'] text-lg">Web Developer</p>
        </div>
        {% comment %} image {% endcomment %}
        <div class="relative">
          <img src="{% static 'images/avatar.webp' %}" alt="avatar" class="bg-gray-bg-hover w-full rounded-2xl"/>
          <p class="text-gray-text-light absolute bottom-8 right-4 -rotate-[25deg] font-['Balleny'] text-5xl select-none">Son</p>
        </div>
      </div>
    </div>
  </div>
  {% comment %} container 2 {% endcomment %}
  <div class="bg-gray-bg h-[270px] rounded-3xl md:h-[360px] p-6 lg:p-8 lg:col-start-3 opacity-0 transition-opacity duration-700 border-t border-gray-border" x-intersect.half="$el.classList.add('opacity-100')">
    <div class="flex flex-col justify-between w-full h-full">
      <div class="flex flex-col justify-between h-full space-y-5 md:space-y-10">
          <h1 class="font-['Neue_Machina'] md:text-[2.5rem] text-[2rem] text-[#ef8e5d]">INTRODUCE.</h1>
          <p class="font-['Wotfard'] text-lg text-white">Hi! I'm Son, a 4th-year Computer Science major specializing in full-stack development, dedicated to crafting user-friendly web applications.</p>
      </div>
    </div>
  </div>
  {% comment %} container 3 {% endcomment %}
  {% comment %} <div class="h-[360px] grid grid-cols-1 gap-3">
    <div class="bg-gray-bg h-[128px] rounded-3xl p-6 border-t border-gray-border opacity-0 transition-opacity duration-700" x-intersect.half="$el.classList.add('opacity-100')">
      <div class="flex items-center justify-between w-full h-full">
        <div>
          <p class="text-gray-text-light font-['Wotfard'] text-2xl font-medium md:text-[1.75rem]">Education</p>
          <p class="bg-gradien   dbg-clip-text font-['Wotfard'] text-2xl font-medium text-transparent md:text-[1.75rem]">University of Science</p>
        </div>
      </div>
    </div>
    <div class="relative bg-gray-bg rounded-3xl h-[80px] border-t border-gray-border transition-opacity opacity-0 duration-700" x-intersect.half="$el.classList.add('opacity-100')">
      <div class="w-full h-full">
        <div class="absolute top-0 left-0 z-10 w-10 h-full from-gray-bg rounded-s-3xl bg-gradient-to-r to-transparent"></div>
        <div class="absolute top-0 right-0 z-10 w-10 h-full from-gray-bg rounded-e-3xl bg-gradient-to-l to-transparent"></div>
        <div class="relative flex items-center w-full h-full overflow-hidden">
          <div class="select-none animate-marquee whitespace-nowrap">
            <span class="text-gray-text-light mx-1.5 font-['Wotfard'] text-2xl md:text-[1.75rem] font-medium">I have talents that can't be put on resumes.</span>
            <span class="text-gray-text-light mx-1.5 font-['Wotfard'] text-2xl md:text-[1.75rem] font-medium">I have talents that can't be put on resumes.</span>
            <span class="text-gray-text-light mx-1.5 font-['Wotfard'] text-2xl md:text-[1.75rem] font-medium">I have talents that can't be put on resumes.</span>
          </div>
          <div class="absolute left-0 select-none animate-marquee2 whitespace-nowrap">
            <span class="text-gray-text-light mx-1.5 font-['Wotfard'] text-2xl md:text-[1.75rem] font-medium">I have talents that can't be put on resumes.</span>
            <span class="text-gray-text-light mx-1.5 font-['Wotfard'] text-2xl md:text-[1.75rem] font-medium">I have talents that can't be put on resumes.</span>
            <span class="text-gray-text-light mx-1.5 font-['Wotfard'] text-2xl md:text-[1.75rem] font-medium">I have talents that can't be put on resumes.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="relative z-10 overflow-hidden bg-gray-bg h-[128px] rounded-3xl p-6 border-t border-gray-border opacity-0 transition-opacity duration-700" x-intersect.half="$el.classList.add('opacity-100')">
      <div class="flex items-center justify-between w-full h-full overflow-hidden">
        <div>
          <p class="text-gray-text-light font-['Wotfard'] text-2xl font-medium md:text-[1.75rem]">Workplace</p>
          <p class="font-['Wotfard'] text-2xl font-medium text-white md:text-[1.75rem]">NULL</p>
        </div>
      </div>
    </div>
  </div> {% endcomment %}
  {% comment %} container 4 {% endcomment %}
  <div class="bg-gray-bg h-[270px] rounded-3xl md:h-[360px] p-6 lg:p-8 opacity-0 transition-opacity duration-700 border-t border-gray-border" x-intersect.half="$el.classList.add('opacity-100')">
    <div class="flex flex-col justify-between w-full h-full">
      <div class="flex flex-col justify-between h-full space-y-5 md:space-y-10">
        <h1 class="font-['Neue_Machina'] md:text-[2.5rem] text-[2rem] text-[#bee7f5]">STACK.</h1>
        <div class="space-y-3">
        <div class="relative">
          <div class="absolute top-0 left-0 z-10 w-10 h-full from-gray-bg bg-gradient-to-r to-transparent"></div>
          <div class="absolute top-0 right-0 z-10 w-10 h-full from-gray-bg bg-gradient-to-l to-transparent"></div>
          <div class="relative flex items-center w-full h-full overflow-hidden">
            <div class="select-none animate-marquee1l whitespace-nowrap flex">
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/python.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Python</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/julia.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Julia</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/cpp.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">C++</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/cuda.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">CUDA C</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/java.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Java</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/django.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Django</span>
                  <span class="text-gray-text-light text-base">Python Web FW</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/spark.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">PySpark</span>
                  <span class="text-gray-text-light text-base">Data Proc. FW</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/alpinejs.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Alpine.js</span>
                  <span class="text-gray-text-light text-base">Lightweight FE FW</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/tailwind.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Tailwind</span>
                  <span class="text-gray-text-light text-base">Utility CSS FW</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/sqlite.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">SQLite3</span>
                  <span class="text-gray-text-light text-base">Lightweight RDBMS</span>
                </div>
              </span>
            </div>
            <div class="absolute left-0 select-none animate-marquee2l whitespace-nowrap flex">
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/python.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Python</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/julia.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Julia</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/cpp.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">C++</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/cuda.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">CUDA C</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/java.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Java</span>
                  <span class="text-gray-text-light text-base">Prog. Language</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/django.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Django</span>
                  <span class="text-gray-text-light text-base">Python Web FW</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/spark.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">PySpark</span>
                  <span class="text-gray-text-light text-base">Data Proc. FW</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/alpinejs.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Alpine.js</span>
                  <span class="text-gray-text-light text-base">Lightweight FE FW</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/tailwind.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Tailwind</span>
                  <span class="text-gray-text-light text-base">Utility CSS FW</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/sqlite.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">SQLite3</span>
                  <span class="text-gray-text-light text-base">Lightweight RDBMS</span>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="absolute top-0 left-0 z-10 w-10 h-full from-gray-bg bg-gradient-to-r to-transparent"></div>
          <div class="absolute top-0 right-0 z-10 w-10 h-full from-gray-bg bg-gradient-to-l to-transparent"></div>
          <div class="relative flex items-center w-full h-full overflow-hidden">
            <div class="select-none animate-marquee1r whitespace-nowrap flex">
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/docker.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Docker</span>
                  <span class="text-gray-text-light text-base">Containerization</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/linux.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Arch</span>
                  <span class="text-gray-text-light text-base">Linux Distribution</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/pythonanywhere.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">PythonAnywhere</span>
                  <span class="text-gray-text-light text-base">PaaS</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/slack.svg" %}" alt="" class="h-7 w-7 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Slack</span>
                  <span class="text-gray-text-light text-base">Messaging Platform</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/jira.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Jira</span>
                  <span class="text-gray-text-light text-base">Proj. Management</span>
                </div>
              </span>
            </div>
            <div class="absolute left-0 select-none animate-marquee2r whitespace-nowrap flex">
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/docker.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Docker</span>
                  <span class="text-gray-text-light text-base">Containerization</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/linux.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Arch</span>
                  <span class="text-gray-text-light text-base">Linux Distribution</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/pythonanywhere.svg" %}" alt="" class="h-10 w-10 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">PythonAnywhere</span>
                  <span class="text-gray-text-light text-base">PaaS</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/slack.svg" %}" alt="" class="h-7 w-7 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Slack</span>
                  <span class="text-gray-text-light text-base">Messaging Platform</span>
                </div>
              </span>
              <span class="font-['Wotfard'] py-1.5 px-9 md:py-3 md:px-9 rounded-2xl bg-gray-bg-hover flex items-center justify-center space-x-5 mx-1.5">
                <img src="{% static "images/jira.svg" %}" alt="" class="h-8 w-8 inline">
                <div class="inline-flex flex-col">
                  <span class="text-white text-lg font-medium">Jira</span>
                  <span class="text-gray-text-light text-base">Proj. Management</span>
                </div>
              </span>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} container 5 {% endcomment %}
  <div class="bg-gray-bg h-[270px] rounded-3xl md:h-[360px] p-6 lg:p-8 opacity-0 transition-opacity duration-700 border-t border-gray-border" x-intersect.half="$el.classList.add('opacity-100')">
    <div class="flex flex-col justify-between w-full h-full">
      <div class="flex flex-col justify-between h-full space-y-5 md:space-y-10">
        <h1 class="font-['Neue_Machina'] md:text-[2.5rem] text-[2rem] text-[#d0f197]">EDUCATION.</h1>
        <div class="text-white font-['Wotfard'] space-y-3">
          <div class="grid grid-cols-4 border border-[#d0f197] rounded-xl p-3 text-lg bg-gray-bg-hover">
            <div>
              <p class="">'20-'24</p>
            </div>
            <div class="col-span-3 text-right">
              <p class="font-medium text-[#d0f197]">University of Science</p>
              <p class="font-medium">Computer Science</p>
            </div>
          </div>
          <div class="grid grid-cols-4 rounded-xl p-3 text-lg bg-gray-bg-hover">
            <div>
              <p class="">'17-'20</p>
            </div>
            <div class="col-span-3 text-right">
              <p class="font-medium text-[#d0f197]">Hoang Van Thu H.S.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} container 6 {% endcomment %}
  <div class="bg-gray-bg h-[270px] rounded-3xl md:h-[360px] p-6 lg:p-8 opacity-0 transition-opacity duration-700 border-t border-gray-border" x-intersect.half="$el.classList.add('opacity-100')">
    <div class="flex flex-col justify-between w-full h-full">
      <div class="flex flex-col justify-between h-full space-y-5 md:space-y-10">
        <h1 class="font-['Neue_Machina'] md:text-[2.5rem] text-[2rem] text-[#9bffc0]">CAREER.</h1>
        {% comment %} <p class="font-['Wotfard'] text-lg text-[#f4ffe0] md:text-xl">¯\_(ツ)_/¯</p> {% endcomment %}
        <div class="text-white font-['Wotfard'] space-y-3">
          <div class="grid grid-cols-3 border border-[#9bffc0] rounded-xl p-3 text-lg bg-gray-bg-hover">
            <div>
              <p class="">'23-Now</p>
            </div>
            <div class="col-span-2 text-right">
              <p class="font-medium text-[#9bffc0]">Algorithmics</p>
              <p class="font-medium text-[#f4ffe0]">Prog. Teacher</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} container 7 {% endcomment %}
    <div class="bg-gray-bg h-[270px] rounded-3xl md:h-[360px] p-6 lg:p-8 opacity-0 transition-opacity duration-700 border-t border-gray-border" x-intersect.half="$el.classList.add('opacity-100')">
    <div class="flex flex-col justify-between w-full h-full">
      <div class="flex flex-col justify-between h-full space-y-5 md:space-y-10">
          <h1 class="font-['Neue_Machina'] md:text-[2.5rem] text-[2rem] text-[#8594ed]">CREDIT.</h1>
          <p class="font-['Wotfard'] text-lg text-white">This site is built with Django and is deploy on PythonAnywhere. The fonts used are Wotfard and Noto Sans, with Fluent Emoji is utilized for emojis.</p>
      </div>
    </div>
  </div>
  {% comment %} container 8 {% endcomment %}
  <div class="!bg-gray-bg h-[270px] border-t border-gray-border rounded-3xl p-6 md:h-[360px] lg:p-8 opacity-0 transition-opacity duration-700" x-intersect.half="$el.classList.add('opacity-100')" x-data="playaudio()" style="background: url('{% static "images/surf_pattern.svg" %}'); background-size: cover; background-position: center;">
    <div class="flex flex-col justify-between w-full h-full">
      <div class="flex flex-col justify-between h-full space-y-5 md:space-y-10">
        {% comment %} spotify {% endcomment %}
        <div class="flex items-center justify-between">
          <img src="{% static "images/spotify_icon.svg" %}" alt="spotify icon" class="w-12 h-12 md:h-14 md:w-14">
          <button @keydown.tab="playAndStop" @click="playAndStop" type="button">
              <div x-show="!currentlyPlaying">
                <img src="{% static "images/play.svg" %}" alt="play button" class="w-10 h-10 transition duration-300 bg-white rounded-full hover:ring-4 hover:ring-slate-300">
              </div>
              <div x-show="currentlyPlaying">
                <img src="{% static "images/pause.svg" %}" alt="pause button" class="w-10 h-10 transition duration-300 bg-white rounded-full hover:ring-4 hover:ring-slate-300">
              </div>
          </button>
        </div>
        <div class="flex flex-col h-[5.75rem] justify-between">
          <p x-show="!currentlyPlaying" class="text-[#1ED760] font-['Wotfard'] text-xl">Pause</p>
          <p x-show="currentlyPlaying" class="text-[#1ED760] font-['Wotfard'] text-xl">Now playing</p>
          <div class="flex items-center justify-between">
            <div>
              <a target="_blank" rel="noopener noreferrer" href="" class="font-['Wotfard'] text-2xl font-semibold md:text-[1.75rem] text-white">DRUGS & <span class="inline lg:hidden">NICOTINE</span><span class="hidden lg:inline">NIC</span>.</a>
              <div class="flex items-center space-x-2">
                <span class="font-['Wotfard'] text-xs font-medium text-custom-black bg-gray-text px-1 rounded-sm">LYRICS</span>
                <span class="font-['Wotfard'] text-xs font-medium text-custom-black bg-gray-text px-1 rounded-sm">E</span>
                <span class="font-['Wotfard'] text-xl font-medium text-gray-text">CRIM</span>
              </div>
            </div>
            <button x-data="{like: false}" @click="like = !like">
              <img src="{% static "images/heart_fill.svg"%}" alt="heart" class="w-8 h-8" x-show="like">
              <img src="{% static "images/heart_outline.svg"%}" alt="heart" class="w-8 h-8" x-show="!like">
            </button>
          </div>
        </div>
      </div>
    </div>
    <audio x-ref="audio">
      <source src="{% static "audios/audio.webm" %}" type="audio/webm" />
    </audio>
  </div>
</section>