{% comment %} {% load static %}
<section class="sticky top-0 mx-auto grid h-screen max-w-6xl grid-cols-1 place-items-center px-8">
  <div class="border-gray-border bg-gray-bg relative col-span-1 flex max-w-sm -translate-y-full flex-col items-center justify-between h-fit space-y-2 rounded-3xl border-t p-3 opacity-0 transition duration-700" x-intersect.half="$el.classList.add('opacity-100', '!translate-y-0')">
    <div class="absolute -top-[96%] h-full w-12 bg-gradient-to-t from-pink-500 via-red-500 to-yellow-500"></div>
    <div class="to-custom-black absolute top-[1%] -z-10 h-2 w-16 rounded-full bg-gradient-to-t from-[#434343]"></div>
    <div class="w-full p-3 pb-1">
      <div class="relative flex w-full">
        <span class="bg-gray-bg whitespace-normal pr-2 font-['Wotfard'] text-3xl font-medium text-white">Trinh The</span>
        <div class="absolute top-1/2 -z-10 h-px w-full bg-white"></div>
      </div>
      <p class="font-['Wotfard'] text-3xl font-medium text-white">Son</p>
      <p class="text-gray-text-light font-['Wotfard'] text-lg">Web Developer</p>
    </div>
    <div class="relative">
      <img src="{% static 'images/avatar.webp' %}" alt="avatar" class="bg-gray-bg-hover w-full rounded-2xl" />
      <p class="text-gray-text-light absolute bottom-8 right-4 -rotate-[25deg] font-['Balleny'] text-5xl">Son</p>
    </div>
  </div>
</section> {% endcomment %}
