@font-face {
    font-family: 'Wotfard';
    src: url('Wotfard-Regular.woff2') format('woff2'),
        url('Wotfard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wotfard';
    src: url('Wotfard-Medium.woff2') format('woff2'),
        url('Wotfard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wotfard';
    src: url('Wotfard-SemiBold.woff2') format('woff2'),
        url('Wotfard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Ultrabold.woff2') format('woff2'),
        url('NeueMachina-Ultrabold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
