@font-face {
    font-family: 'Cubano';
    src: url('Cubano-Regular.woff2') format('woff2'),
        url('Cubano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wotfard';
    src: url('Wotfard-Regular.woff2') format('woff2'),
        url('Wotfard-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Wotfard';
    src: url('Wotfard-Medium.woff2') format('woff2'),
        url('Wotfard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
