[x-cloak] {
        display: none !important;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@font-face {
    font-family: 'Cubano';
    src: url(../fonts/cubano-regular-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'Wotfard';
    font-weight: 400;
    src: url(../fonts/wotfard-regular-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'Wotfard';
    font-weight: 500;
    src: url(../fonts/wotfard-medium-webfont.woff2) format('woff2');
}
