[x-cloak] {
        display: none !important;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

