{% load static %}
<div class="bg-gradient-to-bl from-gray-border via-gray-bg to-gray-bg border-gray-border h-[270px] rounded-3xl border-t p-6 md:h-[360px] lg:p-8 opacity-0 transition-opacity duration-700" x-intersect.half="$el.classList.add('opacity-100')">
  <div class="flex flex-col justify-between w-full h-full">
    <div class="flex items-center space-x-5">
      <div class="relative flex items-center justify-center">
        <div class="overflow-hidden rounded-full h-14 w-14 md:h-16 md:w-16">
          <img loading="lazy" src="{% static 'images/avatar.webp' %}" alt="face with medical mask" class="scale-150">
        </div>
        <div class="absolute h-[4.25rem] w-[4.25rem] md:h-[4.75rem] md:w-[4.75rem] animate-spin2 rounded-full border-2 border-dashed border-[#1da1f2]"></div>
      </div>
      <div class="flex flex-col -space-y-0.5">
        <div class="relative flex items-center">
          <span class="text-gray-text font-['Wotfard'] text-xl font-medium">Trinh The Son</span>
          <img src="{% static 'images/verified.svg' %}" alt="verified" class="h-4 w-4 absolute -right-[1.375rem] top-[22.5%]" />
        </div>
        <p class="text-gray-text-light font-['Wotfard'] text-base md:text-lg">@ttsoncs</p>
      </div>
    </div>
    <div class="pt-5 space-y-5 md:space-y-6">
      <div class="relative">
        <p class="gif text-gray-text-light absolute font-['Wotfard'] text-[1.75rem] font-medium leading-tight md:text-[2.5rem]" id="g1">Hello.</p>
        <p class="gif text-gray-text-light absolute font-['Wotfard'] text-[1.75rem] font-medium leading-tight md:text-[2.5rem]" id="g2">Xin chào.</p>
        <p class="gif text-gray-text-light absolute font-['Noto_sans_kr'] text-[1.5rem] font-medium leading-tight md:text-[2rem] md:pb-1" id="g3">こんにちは.</p>
        <p class="gif text-gray-text-light absolute font-['Noto_sans_sc'] text-[1.5rem] font-medium leading-tight md:text-[2rem] md:pb-1" id="g4">你好.</p>
        <p class="gif text-gray-text-light absolute font-['Noto_sans_kr'] text-[1.5rem] font-medium leading-tight md:text-[2rem] md:pb-1" id="g5">안녕하세요.</p>
      </div>
      <div>
        <h1 class="inline sm:hidden font-['Wotfard'] text-[1.75rem] font-medium leading-tight text-white md:text-[2.5rem]">WC to My Portfolio!</h1>
        <h1 class="hidden sm:inline font-['Wotfard'] text-[1.75rem] font-medium leading-tight text-white md:text-[2.5rem]">Welcome to My Portfolio!</h1>
      </div>
    </div>
    <div class="relative flex px-3 py-1 space-x-3.5 border border-gray-border rounded-full w-min">
      <div class="absolute top-[42%] h-1.5 w-1.5 rounded-full bg-green-600 ring-2 ring-green-900 md:top-[45%]"></div>
      <span class="animate-background-shine whitespace-nowrap bg-[linear-gradient(110deg,#525252,45%,#9c9c9c,55%,#525252)] bg-[length:250%_100%] bg-clip-text font-['Wotfard'] text-sm text-transparent md:text-base">Available for work</span>
    </div>
  </div>
</div>