{% extends "_base.html" %}
{% load static %}
{% block title %}404 - {% endblock %}
{% block content %}
  <div class="fixed top-0 z-50 flex flex-col items-center justify-center w-screen h-screen px-6 !bg-custom-black" style="background: url('{% static "assets/404.svg" %}'); background-size: cover; background-position: center;">
      <div>
        <p class="text-white font-['Wotfard'] font-semibold text-3xl md:text-5xl">Server Error</p>
        <p class="text-gray-text font-['Wotfard'] text-xl md:text-2xl">Sorry, there is nothing at this moment.</p>
      </div>
  </div>
{% endblock content %}
