{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Trinh The Son" />
    <meta name="description" content="Welcome to my portfolio! Hello, I'm Son, a 4th-year Computer Science major at HCMUS, with a strong interest in full-stack development." />
    <meta name="language" content="en" />
    <meta name="keywords" content="django, alpinejs, htmx, dark portfolio, web development, front-end development, back-end development" />
    <link rel="shortcut icon" href="{% static 'images/avatar.webp' %}" type="image/png" />
    <title>{% block title %} Trinh The Son Portfolio {% endblock %}</title>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.13.0/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.13.0/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.0/dist/cdn.min.js"></script>
    <link href="https://fonts.cdnfonts.com/css/balleny" rel="stylesheet" />
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/_base.css' %}" media="print" onload="this.media='all'" />
    <link rel="stylesheet" href="{% static 'fonts/stylesheet.css' %}" media="print" onload="this.media='all'" />
  </head>
  <body class="bg-custom-black overflow-x-hidden !scroll-smooth antialiased" x-data>
    {% include "preloader.html" %} {% include 'navbar.html' %} {% include 'hero.html' %} {% include 'about.html' %} {% include 'tech.html' %} {% include 'background.html' %} {% include 'faq.html' %} {% include 'footer.html' %} {% comment %}
    <script type="module" src="{% static 'js/_base.js' %}"></script>
    {% endcomment %}
  </body>
</html>
