{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}Trinh The Son Portfolio{% endblock title %}
        </title>
        <link rel="shortcut icon"
              href="{% static 'images/favicon.png' %}"
              type="image/png" />
        <style>[x-cloak]{display:none}</style>
        <script src="https://unpkg.com/alpinejs" defer></script>
        {% tailwind_css %}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&family=Inter:wght@200;300;400;500;600&family=Caveat:wght@500&display=swap"
              rel="stylesheet" />
        <link href="https://fonts.cdnfonts.com/css/watford" rel="stylesheet" />
        <link href="https://fonts.cdnfonts.com/css/grestelan" rel="stylesheet">
    </head>
    <body class="bg-[#0f0f0f]">
        {% include "_navbar.html" %}
        {% include "_hero.html" %}
        {% include "_about_me.html" %}
        {% include "_faq.html" %}
        {% include "_footer.html" %}
        {% block content %}{% endblock content %}
        <script type="module" src="{% static 'js/_base.js' %}"></script>
    </body>
</html>
