<section class="mx-auto mt-12 max-w-lg space-y-5 px-6">
  <div class="flex w-full flex-col items-center space-y-2 opacity-0 blur-sm transition duration-1000" x-intersect="$el.classList.add('opacity-100', '!blur-none')">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="0.5" class="h-10 w-10 md:h-14 md:w-14" color="#525252">
      <defs>
        <style>
          .cls-637b7b44f95e86b59c579f65-1{fill:none;stroke:currentColor;stroke-miterlimit:10;}
        </style>
      </defs>
      <ellipse class="cls-637b7b44f95e86b59c579f65-1" cx="12" cy="12" rx="3.82" ry="10.5"></ellipse>
      <ellipse class="cls-637b7b44f95e86b59c579f65-1" cx="12" cy="12" rx="3.82" ry="10.5" transform="translate(-4.39 16.39) rotate(-60)"></ellipse>
      <ellipse class="cls-637b7b44f95e86b59c579f65-1" cx="12" cy="12" rx="10.5" ry="3.82" transform="translate(-4.39 7.61) rotate(-30)"></ellipse>
    </svg>
    <p class="text-gray-text-light font-['Inter'] text-sm font-medium tracking-wide">BACKGROUND SECTION</p>
    <div class="text-center font-['Inter'] text-[1.75rem] font-medium tracking-tight text-white md:text-[2.5rem]">Education & Career</div>
  </div>
  <div x-data="{ tabSelected: 1, tabId: $id('tabs'), tabButtonClicked(tabButton){ this.tabSelected = tabButton.id.replace(this.tabId + '-', ''); this.tabRepositionMarker(tabButton); }, tabRepositionMarker(tabButton){ this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px'; this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px'; this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px'; }, tabContentActive(tabContent){ return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', ''); }, tabButtonActive(tabContent){ const tabId = tabContent.id.split('-').slice(-1); return this.tabSelected == tabId; } }" x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);">
    <div x-ref="tabButtons" class="bg-gray-bg border-t-gray-border relative inline-grid w-full grid-cols-2 items-center justify-center rounded-full border-t p-1 opacity-0 blur-sm transition duration-1000" x-intersect="$el.classList.add('opacity-100', '!blur-none')">
      <button :id="$id(tabId)" @click="tabButtonClicked($el);" type="button" :class="{ 'bg-custom-black text-white' : tabButtonActive($el) }" class="text-gray-text relative z-20 inline-flex w-full items-center justify-center whitespace-nowrap rounded-full p-2 font-['Inter'] font-medium transition-all">Education</button>
      <button :id="$id(tabId)" @click="tabButtonClicked($el);" type="button" :class="{ 'bg-custom-black text-white' : tabButtonActive($el) }" class="text-gray-text relative z-20 inline-flex w-full items-center justify-center whitespace-nowrap rounded-full p-2 font-['Inter'] font-medium transition-all">Career</button>
      <div x-ref="tabMarker" class="absolute left-0 z-10 h-full w-1/2 duration-300 ease-out" x-cloak>
        <div class="bg-custom-black h-full w-full rounded-full shadow-sm"></div>
      </div>
    </div>
    <div class="content border-t-gray-border bg-gray-bg relative mt-4 flex w-full items-center justify-center rounded-2xl border-t p-5 opacity-0 blur-sm transition duration-1000" x-intersect="$el.classList.add('opacity-100', '!blur-none')">
      <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative w-full opacity-0 blur-sm transition duration-1000" x-intersect="$el.classList.add('opacity-100', '!blur-none')">
        <div class="flex justify-start space-x-2.5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="#525252" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.26 10.147a60.436 60.436 0 00-.491 6.347A48.627 48.627 0 0112 20.904a48.627 48.627 0 018.232-4.41 60.46 60.46 0 00-.491-6.347m-15.482 0a50.57 50.57 0 00-2.658-.813A59.905 59.905 0 0112 3.493a59.902 59.902 0 0110.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.697 50.697 0 0112 13.489a50.702 50.702 0 017.74-3.342M6.75 15a.75.75 0 100-1.5.75.75 0 000 1.5zm0 0v-3.675A55.378 55.378 0 0112 8.443m-7.007 11.55A5.981 5.981 0 006.75 15.75v-1.5" />
          </svg>
          <div>
            <p class="font-['Inter'] text-base font-semibold text-white">Bachelor of Computer Science</p>
            <div class="space-y-0.5">
              <p class="animate-background-shine bg-[linear-gradient(110deg,#9c9c9c,45%,#fff,55%,#9c9c9c)] bg-[length:250%_100%] bg-clip-text font-['Inter'] text-sm text-transparent">University of Science</p>
              <p class="text-gray-text-light font-['Inter'] text-xs">Oct 2020 - May 2024 (Expected)</p>
            </div>
          </div>
        </div>
      </div>
      <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative w-full" x-cloak>
        <div class="flex justify-start space-x-2.5">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="#525252" class="h-6 w-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.813 15.904L9 18.75l-.813-2.846a4.5 4.5 0 00-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 003.09-3.09L9 5.25l.813 2.846a4.5 4.5 0 003.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 00-3.09 3.09zM18.259 8.715L18 9.75l-.259-1.035a3.375 3.375 0 00-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 002.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 002.456 2.456L21.75 6l-1.035.259a3.375 3.375 0 00-2.456 2.456zM16.894 20.567L16.5 21.75l-.394-1.183a2.25 2.25 0 00-1.423-1.423L13.5 18.75l1.183-.394a2.25 2.25 0 001.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 001.423 1.423l1.183.394-1.183.394a2.25 2.25 0 00-1.423 1.423z" />
          </svg>
          <div>
            <p class="font-['Inter'] text-base font-semibold text-white">Programming Teacher</p>
            <div class="space-y-0.5">
              <p class="animate-background-shine bg-[linear-gradient(110deg,#9c9c9c,45%,#fff,55%,#9c9c9c)] bg-[length:250%_100%] bg-clip-text font-['Inter'] text-sm text-transparent">Algorithmics</p>
              <p class="text-gray-text-light font-['Inter'] text-xs">Aug 2023 - Now</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
