{% load static %}
<section class="mx-auto mt-12 max-w-2xl space-y-5 px-6">
  <div class="flex w-full flex-col items-center space-y-2">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg class="h-10 w-10 md:h-14 md:w-14" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
      <path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10z" stroke="#525252" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M12 16a4 4 0 110-8 4 4 0 010 8zM12 2v6M12 16v6M2 12h6M16 12h6M4.929 4.929L9.172 9.17M14.828 14.829l4.243 4.242M4.929 19.071l4.243-4.242M14.828 9.171l4.243-4.242" stroke="#525252" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    <p class="text-gray-text-light font-['Inter'] text-sm font-medium tracking-wide">F.A.Q SECTION</p>
    <div class="text-center font-['Inter'] text-[1.75rem] font-medium tracking-tight text-white md:text-[2.5rem]">Frequently Asked Questions</div>
  </div>
  <div class="space-y-4">
    <div x-data="{ open: false }" class="mx-auto w-full max-w-md">
      <div class="border-gray-border hover:bg-gray-bg group rounded-2xl border" :class="{'bg-gray-bg': open, 'bg-custom-black': !open}" x-cloak>
        <button @click="open = !open" class="flex w-full items-center justify-between p-5">
          <span class="text-left font-['Inter'] text-base font-medium text-white">How can I contact you?</span>
          <div :class="{ 'rotate-90': open }" class="relative flex h-4 w-4 items-center justify-center duration-300 ease-out">
            <div class="bg-gray-text-light absolute h-full w-0.5 rounded-full"></div>
            <div :class="{ 'rotate-90': open }" class="ease bg-gray-text-light absolute h-0.5 w-full rounded-full duration-500"></div>
          </div>
        </button>
        <div x-show="open" x-collapse x-cloak x-transition>
          <div class="text-gray-text p-5 pt-0 font-['Inter'] text-sm animate-background-shine bg-[linear-gradient(110deg,#9c9c9c,45%,#fff,55%,#9c9c9c)] bg-[length:250%_100%] bg-clip-text text-transparent">
            You can reach me at ttson.cs@gmail.com. Please feel free to send your inquiries, project details, or any other messages, and I will respond as soon as possible.
          </div>
        </div>
      </div>
    </div>
    <div x-data="{ open: false }" class="mx-auto w-full max-w-md">
      <div class="border-gray-border hover:bg-gray-bg group rounded-2xl border" :class="{'bg-gray-bg': open, 'bg-custom-black': !open}" x-cloak>
        <button @click="open = !open" class="flex w-full items-center justify-between p-5">
          <span class="text-left font-['Inter'] text-base font-medium text-white">When do you expect to graduate?</span>
          <div :class="{ 'rotate-90': open }" class="relative flex h-4 w-4 items-center justify-center duration-300 ease-out">
            <div class="bg-gray-text-light absolute h-full w-0.5 rounded-full"></div>
            <div :class="{ 'rotate-90': open }" class="ease bg-gray-text-light absolute h-0.5 w-full rounded-full duration-500"></div>
          </div>
        </button>
        <div x-show="open" x-collapse x-cloak x-transition>
          <div class="text-gray-text p-5 pt-0 font-['Inter'] text-sm animate-background-shine bg-[linear-gradient(110deg,#9c9c9c,45%,#fff,55%,#9c9c9c)] bg-[length:250%_100%] bg-clip-text text-transparent">I am on track to graduate in October 2024, representing the fulfillment of my academic journey and the start of new opportunities.</div>
        </div>
      </div>
    </div>
    <div x-data="{ open: false }" class="mx-auto w-full max-w-md">
      <div class="border-gray-border hover:bg-gray-bg group rounded-2xl border" :class="{'bg-gray-bg': open, 'bg-custom-black': !open}" x-cloak>
        <button @click="open = !open" class="flex w-full items-center justify-between p-5">
          <span class="text-left font-['Inter'] text-base font-medium text-white">Are you available for full-time work?</span>
          <div :class="{ 'rotate-90': open }" class="relative flex h-4 w-4 items-center justify-center duration-300 ease-out">
            <div class="bg-gray-text-light absolute h-full w-0.5 rounded-full"></div>
            <div :class="{ 'rotate-90': open }" class="ease bg-gray-text-light absolute h-0.5 w-full rounded-full duration-500"></div>
          </div>
        </button>
        <div x-show="open" x-collapse x-cloak x-transition>
          <div class="text-gray-text p-5 pt-0 font-['Inter'] text-sm animate-background-shine bg-[linear-gradient(110deg,#9c9c9c,45%,#fff,55%,#9c9c9c)] bg-[length:250%_100%] bg-clip-text text-transparent">Yes, I am available for full-time work and open to discussing potential opportunities</div>
        </div>
      </div>
    </div>
  </div>
</section>
