{% load static %}
<section class="mx-auto  max-w-2xl space-y-5 px-6">
  <div class="flex w-full flex-col items-center space-y-2 opacity-0 blur-sm transition duration-700"
       x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
       x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <img src="{% static 'assets/red_question_mark_color.svg' %}"
         alt="red question mark"
         class="h-10 w-10 md:h-12 md:w-12" />
    <p class="text-gray-text-light font-['Wotfard'] text-sm font-medium tracking-wide">F.A.Q SECTION</p>
    <div class="text-center font-['Wotfard'] text-[1.75rem] font-medium tracking-tight text-white md:text-[2.5rem]">
      Frequently Asked Questions
    </div>
  </div>
  <div class="space-y-4">
    {% for faq in faq_list %}
      <div x-data="{ open: false }"
           class="mx-auto w-full max-w-md opacity-0 blur-sm transition duration-700"
           x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
           x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
        <div class="border-gray-border hover:bg-gray-bg group rounded-2xl border"
             :class="{'bg-gray-bg': open, 'bg-custom-black': !open}"
             x-cloak>
          <button @click="open = !open"
                  class="flex w-full items-center justify-between p-5">
            <span class="text-left font-['Wotfard'] text-base font-medium text-white">{{ faq.question }}</span>
            <div :class="{ 'rotate-90': open }"
                 class="relative flex h-4 w-4 items-center justify-center duration-300 ease-out">
              <div class="bg-gray-text-light absolute h-full w-0.5 rounded-full"></div>
              <div :class="{ 'rotate-90': open }"
                   class="ease bg-gray-text-light absolute h-0.5 w-full rounded-full duration-500"></div>
            </div>
          </button>
          <div x-show="open" x-collapse x-cloak x-transition>
            <div class="text-gray-text animate-background-shine bg-[linear-gradient(110deg,#9c9c9c,45%,#fff,55%,#9c9c9c)] bg-[length:250%_100%] bg-clip-text p-5 pt-0 font-['Wotfard'] text-sm text-transparent opacity-0 blur-sm transition duration-500"
                 x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
                 x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">{{ faq.answer }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
