{% load static %}
<section class="lg:grid-rows-8 grid w-screen max-w-6xl grid-cols-2 gap-3 px-6 max-md:mt-20 lg:mx-auto lg:grid-cols-6">
  <div class="border-gray-border bg-gray-bg col-span-full space-y-5 rounded-3xl border-t p-6 lg:col-span-2 lg:row-span-full lg:space-y-7 lg:p-8 opacity-0 transition duration-700 blur-sm" x-intersect.half="$el.classList.add('opacity-100', '!blur-none')" x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <div class="flex justify-between">
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/avatar.webp' %}" alt="avatar" class="ring-offset-gray-bg h-14 w-14 rounded-full bg-gradient-to-r from-indigo-300 to-purple-400 ring-[3px] ring-[#3b82f6] ring-offset-[3px] md:h-[4.5rem] md:w-[4.5rem]" /></a>
      <img src="{% static 'svg/pushpin_color.svg' %}" loading="lazy" alt="pushpin" class="h-10 w-10 md:h-12 md:w-12">
    </div>
    <p class="font-['Wotfard'] text-[1.75rem] font-medium leading-tight text-white md:text-[2.5rem]">Hello and Welcome to My Portfolio!</p>
    <a href="#about" class="text-gray-text-light inline-block font-['Wotfard']">@ttson.cs</a>
  </div>
  <div class="border-gray-border bg-gray-bg col-span-full space-y-5 rounded-3xl border-t p-6 lg:col-span-2 lg:row-span-3 opacity-0 transition duration-700 blur-sm" x-intersect.half="$el.classList.add('opacity-100', '!blur-none')" x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <div class="flex h-full w-full items-center justify-between">
      <div>
        <p class="text-gray-text-light font-['Wotfard'] text-2xl font-medium md:text-[1.75rem]">Title</p>
        <p class="animate-text font-['Wotfard'] text-2xl font-medium text-white md:text-[1.75rem]">Web Developer</p>
      </div>
      <img src="{% static 'svg/cat_with_tears_of_joy_color.svg' %}" loading="lazy" alt="cat with tears of joy" class="h-10 w-10 md:h-12 md:w-12">
    </div>
  </div>
  <a href="https://linkedin.com/in/ttsoncs" target="_blank" rel="noopener noreferrer" class="border-gray-border bg-gray-bg hover:bg-gray-bg-hover col-span-1 flex items-center justify-center rounded-3xl border-t p-6 lg:col-span-1 lg:row-span-2 opacity-0 transition duration-700 blur-sm" x-intersect.half="$el.classList.add('opacity-100', '!blur-none')" x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')"><div class="bg-gradient-to-r from-cyan-500 to-blue-500 bg-clip-text font-['Wotfard'] text-2xl font-medium text-transparent md:text-[1.75rem]">LinkedIn</div></a>
  <a href="https://github.com/ttsoncs/" target="_blank" rel="noopener noreferrer" class="border-gray-border bg-gray-bg hover:bg-gray-bg-hover col-span-1 flex items-center justify-center rounded-3xl border-t p-6 lg:col-span-1 lg:row-span-2 opacity-0 transition duration-700 blur-sm" x-intersect.half="$el.classList.add('opacity-100', '!blur-none')" x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')"><div class="bg-gradient-to-r from-amber-200 to-yellow-500 bg-clip-text font-['Wotfard'] text-2xl font-medium text-transparent md:text-[1.75rem]">GitHub</div></a>
  <div class="border-gray-border bg-gray-bg col-span-full rounded-3xl border-t p-6 lg:col-span-2 lg:row-span-3 opacity-0 transition duration-700 blur-sm" x-intersect.half="$el.classList.add('opacity-100', '!blur-none')" x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <div class="flex h-full w-full items-center justify-between">
      <div>
        <p class="text-gray-text-light font-['Wotfard'] text-2xl font-medium md:text-[1.75rem]">Based In</p>
        <p class="animate-text font-['Wotfard'] text-2xl font-medium text-white md:text-[1.75rem]">HCMC, Vietnam</p>
      </div>
      <img src="{% static 'svg/globe_with_meridians_color.svg' %}" loading="lazy" alt="globe with meridians" class="h-10 w-10 md:h-12 md:w-12">
    </div>
  </div>
  <div class="border-gray-border bg-gray-bg col-span-full rounded-3xl border-t p-5 pb-6 md:p-8 md:pb-10 lg:col-span-2 lg:col-start-5 lg:row-span-full lg:py-10 opacity-0 transition duration-700 blur-sm" x-intersect.half="$el.classList.add('opacity-100', '!blur-none')" x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <div class="h-full w-full space-y-5 lg:space-y-8">
      <div class="flex justify-center">
      <img src="{% static 'svg/open_mailbox_with_raised_flag_color.svg' %}" loading="lazy" alt="open mailbox with raised flag" class="h-12 w-12 md:h-14 md:w-14">
      </div>
      <p class="text-center font-['Wotfard'] text-[1.75rem] font-medium leading-tight text-white md:text-[2.5rem]">Want to work together?</p>
      <div class="flex flex-col items-center justify-center">
        <a href="mailto:ttson.cs@gmail.com" target="_blank" rel="noopener noreferrer" class="bg-custom-purple hover:bg-gray-text-light transform rounded-full px-8 py-2 font-['Wotfard'] text-2xl md:text-[1.75rem] font-medium text-white transition-colors duration-700 md:py-4">ttson.cs@gmail.com</a>
      </div>
    </div>
  </div>
</section>
