{% load static %}
<section class="w-screen grid grid-rows-11 grid-cols-2 gap-3 px-6 max-w-6xl lg:mx-auto">
    <div class="col-span-full row-span-4 space-y-5 rounded-3xl border-t border-gray-border bg-gray-bg p-6">
        <div class="flex justify-between">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
               target="_blank"
               rel="noopener noreferrer">
                <img src="{% static 'images/avatar.webp' %}"
                     alt=""
                     class="h-14 w-14 rounded-full bg-gradient-to-r from-indigo-300 to-purple-400 ring-2 ring-blue-500 ring-offset-2 ring-offset-gray-bg" />
            </a>
            <svg class="h-10 w-10"
                 viewBox="0 0 24 24"
                 stroke-width="1"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 color="#525252">
                <path d="M3 12h18m0 0l-8.5-8.5M21 12l-8.5 8.5" stroke="#525252" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </svg>
        </div>
        <p class="font-['Inter'] text-[1.75rem] font-medium leading-tight text-white min-w-min">
            A Portfolio Brimming with Innovation
        </p>
        <p class="font-['Inter']  text-gray-text-light">@ttson.cs</p>
    </div>
    <div class="col-span-full row-span-2 space-y-5 rounded-3xl border-t border-gray-border bg-gray-bg p-6">
        <div class="flex items-center justify-between h-full w-full">
            <div>
                <p class="font-['Inter'] text-2xl font-medium text-gray-text-light">Title</p>
                <p class="animate-text text-white font-['Inter'] text-2xl font-medium">Back-End Dev</p>
            </div>
            <svg class="h-10 w-10"
                 viewBox="0 0 24 24"
                 stroke-width="1"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 color="#000000">
                <path d="M9 6v12M15 6v12M9 6a3 3 0 10-3 3h12a3 3 0 10-3-3M9 18a3 3 0 11-3-3h12a3 3 0 11-3 3" stroke="#525252" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </svg>
        </div>
    </div>
    <a href="https://linkedin.com/in/ttsoncs"
       target="_blank"
       rel="noopener noreferrer"
       class="col-span-1 row-span-1 flex items-center justify-center rounded-3xl border-t border-gray-border bg-gray-bg p-6 transition-colors duration-500 hover:bg-gray-bg-hover">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="36"
             height="36"
             viewBox="0 0 24 24"
             style="fill: rgba(133, 133, 133, 1);
                    transform:;
                    msFilter:">
            <circle cx="4.983" cy="5.009" r="2.188"></circle>
            <path d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z">
            </path>
        </svg>
    </a>
    <a href="https://linkedin.com/in/ttsoncs"
       target="_blank"
       rel="noopener noreferrer"
       class="col-span-1 row-span-1 flex items-center justify-center rounded-3xl border-t border-gray-border bg-gray-bg p-6 transition-colors duration-500 hover:bg-gray-bg-hover">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="36"
             height="36"
             viewBox="0 0 24 24"
             style="fill: rgba(133, 133, 133, 1);
                    transform:;
                    msFilter:">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z">
            </path>
        </svg>
    </a>
    <div class="col-span-full row-span-2 space-y-5 rounded-3xl border-t border-gray-border bg-gray-bg p-6">
        <div class="flex items-center justify-between h-full w-full">
            <div>
                <p class="font-['Inter'] text-2xl font-medium text-gray-text-light">Based In</p>
                <p class="animate-text text-white font-['Inter'] text-2xl font-medium">HCMC, Vietnam</p>
            </div>
            <svg class="w-10 h-10"
                 stroke-width="1"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg"
                 color="#000000">
                <path d="M2 12c0 5.523 4.477 10 10 10s10-4.477 10-10S17.523 2 12 2 2 6.477 2 12z" stroke="#525252" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
                <path d="M13 2.05S16 6 16 12c0 6-3 9.95-3 9.95M11 21.95S8 18 8 12c0-6 3-9.95 3-9.95M2.63 15.5h18.74M2.63 8.5h18.74" stroke="#525252" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                </path>
            </svg>
        </div>
    </div>
    <div class="col-span-full row-span-4 rounded-3xl border-t border-gray-border bg-gray-bg p-5 pb-6">
        <div class="w-full h-full space-y-4">
            <div class="flex justify-center">
                <svg class="w-10 h-10"
                     viewBox="0 0 24 24"
                     stroke-width="1"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg"
                     color="#9c9c9c">
                    <g clip-path="url(#send-diagonal_svg__clip0_2476_13290)" stroke="#525252" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22.152 3.553L11.178 21.004l-1.67-8.596L2 7.898l20.152-4.345zM9.456 12.444l12.696-8.89"></path>
                    </g>
                    <defs>
                    <clipPath id="send-diagonal_svg__clip0_2476_13290">
                    <path fill="#525252" d="M0 0h24v24H0z"></path>
                    </clipPath>
                    </defs>
                </svg>
            </div>
            <p class="text-center font-['Inter'] text-[1.75rem] font-medium leading-tight text-white">Wanna work together?</p>
            <div class="flex flex-col items-center justify-center">
                <a href="mailto:ttson.cs@gmail.com"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="transform rounded-full bg-[#772af4] px-8 py-2 font-['Inter'] text-2xl font-medium text-white transition-colors duration-700 hover:bg-[#a06af7]">ttson.cs@gmail.com</a>
            </div>
        </div>
    </div>
</section>
{% comment %}  
  <section class="grid-rows-8 mx-auto mt-3 grid max-h-[22rem] max-w-6xl grid-cols-6 gap-5">
    <div class="col-span-2 row-span-full space-y-5 rounded-3xl border-t border-[#292929] bg-[#141516] p-8">
      <div class="flex justify-between">
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" rel="noopener noreferrer"><img src="{% static 'images/avatar.webp' %}" alt="" class="h-[4.75rem] w-[4.75rem] rounded-full bg-gradient-to-r from-indigo-300 to-purple-400 ring-4 ring-blue-500 ring-offset-4 ring-offset-[#141516]" /></a>
        <svg width="56px" height="56px" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#9c9c9c">
          <path d="M3 12h18m0 0l-8.5-8.5M21 12l-8.5 8.5" stroke="#9c9c9c" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
      <p class="font-['Inter'] text-[2.5rem] font-medium leading-tight text-white">A Portfolio Brimming with Innovation</p>
      <p class="font-['Wotfard'] text-[#9c9c9c] text-lg">@ttson.cs</p>
    </div>
    <div class="col-span-2 row-span-3 rounded-3xl border-t border-[#292929] bg-[#141516] p-6">
      <div class="flex items-center justify-between">
        <div class="-space-y-2">
          <p class="font-['Inter'] text-[1.75rem] font-medium text-[#9c9c9c]">Title</p>
          <p class="animate-text text-white font-['Inter'] text-[1.75rem] font-medium">Back-End Dev</p>
        </div>
        <svg width="56px" height="56px" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
          <path d="M9 6v12M15 6v12M9 6a3 3 0 10-3 3h12a3 3 0 10-3-3M9 18a3 3 0 11-3-3h12a3 3 0 11-3 3" stroke="#9c9c9c" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
    <div class="col-span-2 col-end-7 row-span-full space-y-6 rounded-3xl border-t border-[#292929] bg-[#141516] px-8 py-10">
      <div class="flex justify-center">
        <svg width="56px" height="56px" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#9c9c9c">
          <g clip-path="url(#send-diagonal_svg__clip0_2476_13290)" stroke="#9c9c9c" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round">
            <path d="M22.152 3.553L11.178 21.004l-1.67-8.596L2 7.898l20.152-4.345zM9.456 12.444l12.696-8.89"></path>
          </g>
          <defs>
            <clipPath id="send-diagonal_svg__clip0_2476_13290">
              <path fill="#fff" d="M0 0h24v24H0z"></path>
            </clipPath>
          </defs>
        </svg>
      </div>
      <p class="text-center font-['Inter'] text-[2.5rem] font-medium leading-tight text-white">Wanna work together?</p>
      <div class="flex flex-col items-center justify-center">
        <a href="mailto:ttson.cs@gmail.com" target="_blank" rel="noopener noreferrer" class="transform rounded-full bg-[#772af4] px-8 py-4 font-['Inter'] text-2xl font-semibold text-white transition-colors duration-700 hover:bg-[#a06af7]">ttson.cs@gmail.com</a>
      </div>
    </div>
    <a href="https://linkedin.com/in/ttsoncs" target="_blank" rel="noopener noreferrer" class="col-span-1 row-span-2 flex items-center justify-center rounded-3xl border-t border-[#292929] bg-[#141516] p-6 font-['Inter'] text-[1.75rem] font-medium transition-colors duration-500 hover:bg-[#292929]">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(133, 133, 133, 1); transform:; msFilter:">
        <circle cx="4.983" cy="5.009" r="2.188"></circle>
        <path d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"></path>
      </svg>
    </a>
    <a href="https://github.com/ttsoncs" target="_blank" rel="noopener noreferrer" class="col-span-1 row-span-2 flex items-center justify-center rounded-3xl border-t border-[#292929] bg-[#141516] p-6 font-['Inter'] text-[1.75rem] font-medium transition-colors duration-500 hover:bg-[#292929]">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" style="fill: rgba(133, 133, 133, 1); transform:; msFilter:">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"></path>
      </svg>
    </a>
    <div class="col-span-2 row-span-3 rounded-3xl border-t border-[#292929] bg-[#141516] p-6">
      <div class="flex items-center justify-between">
        <div class="-space-y-2">
          <p class="font-['Inter'] text-[1.75rem] font-medium text-[#9c9c9c]">Based In</p>
          <p class="font-['Inter'] text-[1.75rem] font-medium text-white">HCMC, Vietnam</p>
        </div>
        <svg width="56px" height="56px" stroke-width="1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000">
          <path d="M2 12c0 5.523 4.477 10 10 10s10-4.477 10-10S17.523 2 12 2 2 6.477 2 12z" stroke="#9c9c9c" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
          <path d="M13 2.05S16 6 16 12c0 6-3 9.95-3 9.95M11 21.95S8 18 8 12c0-6 3-9.95 3-9.95M2.63 15.5h18.74M2.63 8.5h18.74" stroke="#9c9c9c" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
      </div>
    </div>
  </section>
</main>
{% endcomment %}
