<header class="sticky top-0 z-50 w-screen bg-custom-black">
  <div x-data="{ open: false }" @resize.window="open = (window.innerWidth >= 768) ? true : false" x-init="open = (window.innerWidth >= 768) ? true : false" class="relative flex flex-col w-full max-w-6xl p-6 mx-auto bg-custom-black md:flex-row md:items-center md:justify-between md:border-none" :class="{'border-b border-b-gray-border rounded-b-3xl': open}">
    <div class="flex flex-row items-center justify-between md:border-none md:pb-0 lg:justify-start" :class="{'border-b border-b-gray-border pb-6': open}">
      <a href="" class="flex items-center space-x-2.5">
        <div class="flex items-center">
          <span class="text-custom-purple font-['Albert_Sans'] text-2xl font-medium">.</span>
          <span class="font-['Albert_Sans'] text-2xl font-medium text-white">ts</span>
        </div>
        <span class="border-gray-border bg-gray-bg text-gray-text rounded-lg border-r border-t px-[0.625rem] py-1 font-['Inter'] text-xs"> Portfolio </span>
      </a>
      <button @click="open = !open" class="inline-flex h-8 w-8 items-center justify-center rounded-full p-[0.375rem] md:hidden" :class="{'bg-gray-bg border-t border-t-gray-border text-gray-text hover:text-white': !open, 'text-white border border-gray-border': open}">
        <svg class="w-5 h-5" stroke="currentColor" fill="none" viewBox="0 0 24 24">
          <path :class="{'hidden': open, 'inline-flex': !open }" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16"></path>
          <path :class="{'hidden': !open, 'inline-flex': open }" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <nav :class="{'flex pt-6 transform transition ease-out duration-300': open, 'hidden': !open}" x-show="open" x-collapse x-cloak x-collapse class="flex-col flex-grow hidden space-y-6 md:flex md:flex-row md:justify-end md:pt-0 lg:py-0">
      <ul class="space-y-6 list-none md:inline-flex md:items-center md:space-x-3 md:space-y-0">
        <li>
          <a href="#" class="md:border-gray-border md:bg-gray-bg flex items-center justify-between duration-500 md:rounded-3xl md:border-t md:px-4 md:py-[0.375rem] md:transition-colors md:hover:bg-[#292929]">
            <span class="text-gray-text font-['Inter'] text-base font-medium md:text-sm md:text-white">home.</span>
            <svg class="inline w-5 h-5 md:hidden" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#9c9c9c">
              <path d="M3 12h18m0 0l-8.5-8.5M21 12l-8.5 8.5" stroke="#9c9c9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="md:border-gray-border md:bg-gray-bg flex items-center justify-between duration-500 md:rounded-3xl md:border-t md:px-4 md:py-[0.375rem] md:transition-colors md:hover:bg-[#292929]">
            <span class="text-gray-text font-['Inter'] text-base font-medium md:text-sm md:text-white">about me.</span>
            <svg class="inline w-5 h-5 md:hidden" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#9c9c9c">
              <path d="M3 12h18m0 0l-8.5-8.5M21 12l-8.5 8.5" stroke="#9c9c9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="md:border-gray-border md:bg-gray-bg flex items-center justify-between duration-500 md:rounded-3xl md:border-t md:px-4 md:py-[0.375rem] md:transition-colors md:hover:bg-[#292929]">
            <span class="text-gray-text font-['Inter'] text-base font-medium md:text-sm md:text-white">works.</span>
            <svg class="inline w-5 h-5 md:hidden" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#9c9c9c">
              <path d="M3 12h18m0 0l-8.5-8.5M21 12l-8.5 8.5" stroke="#9c9c9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="md:border-gray-border md:bg-gray-bg flex items-center justify-between duration-500 md:rounded-3xl md:border-t md:px-4 md:py-[0.375rem] md:transition-colors md:hover:bg-[#292929]">
            <span class="text-gray-text font-['Inter'] text-base font-medium md:text-sm md:text-white">blog.</span>
            <svg class="inline w-5 h-5 md:hidden" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#9c9c9c">
              <path d="M3 12h18m0 0l-8.5-8.5M21 12l-8.5 8.5" stroke="#9c9c9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" class="md:border-gray-border md:bg-gray-bg flex items-center justify-between duration-500 md:rounded-3xl md:border-t md:px-4 md:py-[0.375rem] md:transition-colors md:hover:bg-[#292929]">
            <span class="text-gray-text font-['Inter'] text-base font-medium md:text-sm md:text-white">contact.</span>
            <svg class="inline w-5 h-5 md:hidden" viewBox="0 0 24 24" stroke-width="1" fill="none" xmlns="http://www.w3.org/2000/svg" color="#9c9c9c">
              <path d="M3 12h18m0 0l-8.5-8.5M21 12l-8.5 8.5" stroke="#9c9c9c" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </li>
      </ul>
      <a href="mailto:ttson.cs@gmail.com" target="_blank" rel="noopener noreferrer" class="inline transform rounded-full bg-[#772af4] px-8 py-2 text-center font-['Inter'] text-2xl font-medium text-white md:hidden">ttson.cs@gmail.com</a>
    </nav>
  </div>
</header>
