{% load static %}
<section class="mx-auto  max-w-5xl space-y-5 px-6">
  <div class="flex w-full flex-col items-center space-y-2 opacity-0 blur-sm transition duration-700"
       x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
       x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <img src="{% static 'assets/bullseye_color.svg' %}"
         alt="bullseye"
         class="h-10 w-10 md:h-12 md:w-12" />
    <p class="text-gray-text-light font-['Wotfard'] text-sm font-medium tracking-wide">TECHNOLOGIES SECTION</p>
    <div class="text-center font-['Wotfard'] text-[1.75rem] font-medium tracking-tight text-white md:text-[2.5rem]">
      Technologies
    </div>
  </div>
  <div class="grid grid-cols-1 opacity-0 blur-sm transition duration-700"
       x-intersect="$el.classList.add('opacity-100', '!blur-none')"
       x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <p class="border-gray-border bg-gray-bg text-gray-text-light col-span-full rounded-t-3xl border-l border-r border-t p-[0.375rem] text-center font-['Wotfard'] text-xs md:font-medium md:uppercase">
      Uncover my tech toolkit.
    </p>
    <div class="border-gray-border col-span-full rounded-b-3xl border">
      <div class="grid w-full grid-cols-2 place-items-center gap-3 p-4 md:grid-cols-3 lg:grid-cols-6">
        <div class="bg-gray-bg border-t-gray-border col-span-1 flex w-full flex-col items-center justify-center space-y-4 rounded-2xl border-t p-5">
          <img src="{% static "assets/python.svg" %}" alt="" class="h-12 w-12">
          <div class="flex flex-col items-center justify-center">
            <p class="text-gray-text font-['Wotfard'] text-xs font-medium">PYTHON</p>
            <p class="font-['Wotfard'] text-lg font-medium text-white">Intermediate</p>
          </div>
        </div>
        <div class="bg-gray-bg border-t-gray-border col-span-1 flex w-full flex-col items-center justify-center space-y-4 rounded-2xl border-t p-5">
          <img src="{% static "assets/django.svg" %}" alt="" class="h-12 w-12">
          <div class="flex flex-col items-center justify-center">
            <p class="text-gray-text font-['Wotfard'] text-xs font-medium">DJANGO</p>
            <p class="font-['Wotfard'] text-lg font-medium text-white">Intermediate</p>
          </div>
        </div>
        <div class="bg-gray-bg border-t-gray-border col-span-1 flex w-full flex-col items-center justify-center space-y-4 rounded-2xl border-t p-5">
          <img src="{% static "assets/alpinejs.svg" %}" alt="" class="h-12 w-12">
          <div class="flex flex-col items-center justify-center">
            <p class="text-gray-text font-['Wotfard'] text-xs font-medium">ALPINE.JS</p>
            <p class="font-['Wotfard'] text-lg font-medium text-white">Intermediate</p>
          </div>
        </div>
        <div class="bg-gray-bg border-t-gray-border col-span-1 flex w-full flex-col items-center justify-center space-y-4 rounded-2xl border-t p-5">
          <img src="{% static "assets/tailwind.svg" %}" alt="" class="h-12 w-12">
          <div class="flex flex-col items-center justify-center">
            <p class="text-gray-text font-['Wotfard'] text-xs font-medium">TAILWIND</p>
            <p class="font-['Wotfard'] text-lg font-medium text-white">Familiar</p>
          </div>
        </div>
        <div class="bg-gray-bg border-t-gray-border col-span-1 flex w-full flex-col items-center justify-center space-y-4 rounded-2xl border-t p-5">
          <img src="{% static "assets/javascript.svg" %}" alt="" class="h-12 w-12">
          <div class="flex flex-col items-center justify-center">
            <p class="text-gray-text font-['Wotfard'] text-xs font-medium">JAVASCRIPT</p>
            <p class="font-['Wotfard'] text-lg font-medium text-white">Familiar</p>
          </div>
        </div>
        <div class="bg-gray-bg border-t-gray-border col-span-1 flex w-full flex-col items-center justify-center space-y-4 rounded-2xl border-t p-5">
          <p class="w-12 h-12 text-white font-['Canratell'] font-bold flex justify-center items-center text-4xl">
            <<span class="text-[#3d72d7]">/</span>>
          </p>
          <div class="flex flex-col items-center justify-center">
            <p class="text-gray-text font-['Wotfard'] text-xs font-medium">
              HTM<span class="text-[#3d72d7]">X</span>
            </p>
            <p class="font-['Wotfard'] text-lg font-medium text-white">Familiar</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="text-gray-text-light max-w-md mx-auto text-center font-['Wotfard'] text-xs opacity-0 blur-sm transition duration-700 md:font-medium"
     x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
     x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    Exploring the tech toolkit behind my web development prowess, seamlessly merging innovation and technical mastery.
  </p>
</section>
