{% load static %}
<section class="mx-auto mt-12 max-w-2xl space-y-5 px-6">
  <div class="flex w-full flex-col items-center space-y-2 opacity-0 transition duration-700 blur-sm"
       x-intersect.half="$el.classList.add('opacity-100', '!blur-none')"
       x-intersect:leave="$el.classList.remove('opacity-100', '!blur-none')">
    <img src="{% static 'svg/bullseye_color.svg' %}"
         alt="bullseye"
         class="h-10 w-10 md:h-12 md:w-12 animate-bounce">
    <p class="text-gray-text-light font-['Wotfard'] text-sm font-medium tracking-wide">TOOLS SECTION</p>
    <div class="text-center font-['Wotfard'] text-[1.75rem] font-medium tracking-tight text-white md:text-[2.5rem]">
      Tools & Software
    </div>
  </div>
</section>
